.Footer {background-color: pink;color: whitesmoke;font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;justify-content: center;align-items: center;flex-direction: column;
    height: 400px;margin-top: -4px;}
.Footer > .logo-footer img {width: 180px;height: 100%;opacity:0.5 ;}
.Footer > .phoneandhours-footer span {margin-left: 10px; margin-right: 10px; font-size: 1em; letter-spacing: 2px;}
.Footer > .phoneandhours-footer > .hours-footer { font-size: 0.8em; color: darkgray;text-transform: uppercase;}
.Footer > .center-links {display: flex; flex-direction: row;justify-content: space-between; width: 190px;}
.Footer > .center-links {margin-top: 25px;margin-bottom: 25px; width:400px;}
.Footer > .social-icons {margin-top: 15px;margin-bottom: 35px; width:300px;
    display: flex; justify-content: space-around;}
.Footer > .social-icons a {color: whitesmoke; transition: 0.5s;font-size: 1.9em;}
.Footer > .social-icons a:hover {color: goldenrod;}
.Footer > .copyright-footer {margin-bottom: 42px;font-size: 0.7em;color: darkgray;}